#home-content div.row {
  margin-left: 0px;
  margin-right: 0px;
}

#chat-component {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  background-color: #E6E6E6;
}

#game-content {
  background-color: lightblue;
}

#chat-area {
  width: 100%;
  height: 95%;
}

#chat-entry {
  width: 100%;
  height: 5%;
  bottom: 0;
}